config.txt
__pycache__
__pycache__/mainUI.cpython-313.pyc
controllers/__pycache__/__init__.cpython-313.pyc
controllers/__pycache__/presetController.cpython-313.pyc
controllers/__pycache__/serialController.cpython-313.pyc
